* text=auto

.gitattributes text eol=lf
.gitignore text eol=lf

*.asmdef text eol=lf
*.asset text eol=lf
*.controller text eol=lf
*.cs text eol=lf
*.json text eol=lf
*.mat text eol=lf
*.md text eol=lf
*.meta text eol=lf
*.prefab text eol=lf
*.renderTexture text eol=lf
*.shader text eol=lf
*.txt text eol=lf
*.unity text eol=lf

*.gif binary
*.jpg binary
*.jpeg binary
*.mp4 binary
*.png binary

docs/webgl/Build/*.data binary
docs/webgl/Build/*.wasm binary
docs/webgl/TemplateData/*.ico binary
docs/webgl/TemplateData/*.png binary
docs/webgl/*.html text eol=lf
docs/webgl/Build/*.js binary
docs/webgl/TemplateData/*.css text eol=lf
